<!-- views/partials/navbar.ejs -->
<style>
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        padding: 1rem;
    }

    .nav-group {
        flex: 1;
        display: flex;
    }

    .nav-group.left {
        justify-content: flex-start;
    }

    .nav-group.center {
        justify-content: center;
    }

    .nav-group.right {
        justify-content: flex-end;
    }

    .nav-list {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .nav-item {
        margin: 0 0.5rem;
    }

    .nav-item a,
    .nav-item {
        color: white;
        text-decoration: none;
    }

    .astext {
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        color: white;
        list-style-type: none;
    }
</style>

<nav class="navbar">
    <div class="nav-group left">
        <a href="#" class="nav-item">Get the app!</a>
    </div>
    <div class="nav-group center">
        <a href="/" class="nav-item"><b>GrubGuide</b></a>
    </div>
    <div class="nav-group right">
        <ul class="nav-list">
            <li class="nav-item">
                <form method="get" id="cart">
                    <button class="astext" id="cart-button">Cart</button>
                </form>
            </li>
            <% if (!locals.currentUser) { %>
            <li class="nav-item"><a href="/login">Login</a></li>
            <li class="nav-item"><a href="/signup">Sign Up</a></li>
            <% } else { %>
            <!-- Add logged-in user options here if needed -->
            <div id="logged-in" tag="<%=locals.currentUser.id%>"></div>
            <li class="nav-item">
                <form action="/logout" method="post">
                    <button class="astext">Logout</button>
                </form>
            </li>
        </ul>
        <% } %>
    </div>
</nav>
<script src="user.js"></script>
<script>
    const cart = document.getElementById("cart");
    const login = document.getElementById("logged-in");
    if (login) {
        userId = login.getAttribute("tag");
    } else {
        userId = localStorage.getItem("userId");
    }
    // console.log(userId);
    const url = new URL(`http://localhost:8080/cart/${userId}`);
    cart.action = url.href;
    cart.method = "GET";
</script>
