<!-- views/partials/navbar.ejs -->
<style>
    .navbar {
        display: flex;
        justify-content: space-between;
        background-color: #333;
    }

    .nav-list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .nav-item {
        margin-right: 1rem;
    }

    .nav-item a,
    .nav-item {
        color: white;
        text-decoration: none;
    }

    nav {
        padding-top: 2rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
</style>
<nav class="navbar">
    <a href="#" class="nav-item">Get the app!</a></li>
    <ul class="nav-list">
        <li class="nav-item"><a href="#">Login</a></li>
        <li class="nav-item"><a href="/sign-up">Sign Up</a></li>
    </ul>
</nav>