<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>GrubGuide - Login</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
    </head>
    <style>
        body {
            text-align: center;
            background-size: 100% 120%;
        }

        h1 {
            font-family: helvetica;
            margin-top: 5rem;
            font-size: 6rem;
        }

        .login-container {
            max-width: 400px;
            margin: 0 auto;
        }

        .login-container input {
            margin-bottom: 10px;
        }
    </style>

    <body class="d-flex flex-column min-vh-100">
        <%- include('partials/navbar') %>
        <main class="flex-grow-1 pt-5">
            <!-- <h1>GrubGuide</h1> -->
            <h2>Login to Your Account</h2>
            <div class="login-container pt-3">
                <form action="/login" method="POST">
                    <input
                        class="form-control"
                        type="text"
                        placeholder="Username"
                        name="username"
                        required
                    />
                    <input
                        class="form-control"
                        type="password"
                        placeholder="Password"
                        name="password"
                        required
                    />
                    <button type="submit" class="btn btn-dark w-100">Login</button>
                </form>
            </div>
        </main>
        <div class="row flex-grow-1 justify-content-center pt-3">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">New to GrubGuide?</h5>
                        <p class="card-text">
                            Create an account to start exploring amazing dining options.
                        </p>
                        <a href="/signup" class="btn btn-dark">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <%- include('partials/footer') %>
    </body>
</html>
